@media (max-width: 767px) {
    .app {
        &__header {
            align-items: center;
            flex-wrap: wrap;
            height: 37px;
        }
        &__title {
            font-size: 24px;
        }
        &__menu {
            margin-top: 0;
            display: none;

            ul {
                justify-content: center;
            }
        }
        &__burger {
            display: block;
        }
    }
}